
<h1>New Entry for <%= @place["name"] %></h1>

<%= form_with url: "/entries" do |form| %>
  <%= form.hidden_field "place_id", value: @place["id"] %>
  <div>
    <%= form.label "title" %>
    <%= form.text_field "title" %>
  </div>
  <div>
    <%= form.label "description" %>
    <%= form.text_area "description" %>
  </div>
  <div>
    <%= form.label "occurred_on" %>
    <%= form.date_field "occurred_on" %>
  </div>
  <%= form.submit "Create Entry" %>
<% end %>
