
<div>
  <h1><%= @place["name"] %></h1>

  <p><a href="/places/<%= @place["id"] %>/entries/new" class="button">New Post</a></p>

  <% for entry in @entries %>
    <div class="entry">
      <h2><%= entry["title"] %></h2>
      <p><%= entry["occurred_on"] %></p>
      <% if entry.uploaded_image.attached? %>
        <img src="<%= url_for(entry.uploaded_image) %>" class="img-fluid">
      <% end %>
      <p><%= entry["description"] %></p>
    </div>
  <% end %>
</div>
