
<!DOCTYPE html>
<html>
  <head>
    <title>Travel Journal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>
  <body>
    <div>
      <% if @current_user %>
        Welcome, <%= @current_user["username"] %>!
        <%= button_to "Logout", "/sessions/destroy", method: :delete %>
      <% else %>
        <a href="/sessions/new">Login</a> | 
        <a href="/users/new">Sign Up</a>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
